h1 {
  display: block;
  margin-top: 4vw;
  margin-bottom: 0;
  font-size: 3vw;
}

.auto_cards {
  display: -ms-grid;
  display: grid;
}
.auto_cards div {
  text-align: center;
  background-color: white;
}
.auto_cards a {
  width: 90%;
}
.auto_cards .car_image {
  background-size: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-position-x: center;
  background-position-y: center;
  -webkit-transition-property: background-size;
  transition-property: background-size;
}
.auto_cards .car_image:hover {
  background-size: 110%;
}
.auto_cards .car_desc, .auto_cards .car_name {
  margin-left: 5%;
  width: 90%;
}
.auto_cards .car_desc {
  height: 6vw;
}

.news {
  display: -ms-grid;
  display: grid;
  text-align: center;
}
.news .news1, .news .news2, .news .news3 {
  text-decoration: none;
  background-size: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: 80% 20%;
  grid-template-rows: 80% 20%;
  -webkit-transition: background-size 0.4s ease;
  transition: background-size 0.4s ease;
  background-position-x: center;
  background-position-y: center;
}
.news .news1:hover, .news .news2:hover, .news .news3:hover {
  background-size: 110%;
}
.news .shadow_block {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: black;
  opacity: 75%;
  height: 100%;
  width: 100%;
  margin-top: 0vw;
  -webkit-transition: margin-top 0.4s ease;
  transition: margin-top 0.4s ease;
}
.news .shadow_block div {
  color: white;
}

.project {
  height: 25vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7.2vw 9.6vw 1.1vw 6vw 1.1vw;
  grid-template-rows: 7.2vw 9.6vw 1.1vw 6vw 1.1vw;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E0E0E0;
}
.project div {
  text-align: center;
  width: 100%;
}
.project .project_head {
  font-size: 4vw;
}
.project .project_desc {
  font-size: 2.4vw;
}
.project button, .project a {
  cursor: pointer;
  border-radius: 3vw;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  width: 20vw;
  height: 6vw;
  background-color: #484848;
  font-size: 2.5vw;
  color: white;
  border-width: 0;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.project button:hover {
  background-color: #686868;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}