.main {
  margin: 5vw 5vw 5vw 5vw;
  width: 90vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  background-color: white;
  -ms-grid-columns: 35vw 55vw;
  grid-template-columns: 35vw 55vw;
}
.main .text {
  width: 25vw;
  margin: 5vw 5vw 0 5vw;
}
.main .text .h1 {
  font-size: 3vw;
  margin-bottom: 1vw;
}
.main .text ul {
  font-size: 2vw;
}
.main .text ul a {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-decoration: none;
  color: black;
}
.main .text ul span {
  font-size: 1.5vw;
}
.main .text ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  margin-top: 0;
  margin-bottom: 0;
}
.main .text a:hover > li {
  padding-left: 2vw;
  font-weight: bold;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.main .text a:hover, .main .text li:hover {
  color: red;
}
.main .map_holder {
  width: 50vw;
  height: 50vw;
  margin: 5vw 5vw 5vw 0;
  background-color: #585858;
}

@media (max-width: 400px) {
  .main {
    width: 100vw;
    margin: 0 0 0 0;
    -ms-grid-columns: 100vw;
    grid-template-columns: 100vw;
  }
  .main .text {
    width: 80vw;
    margin: 5vw 5vw 5vw 15vw;
  }
  .main .text .h1 {
    font-size: 10vw;
    margin-bottom: 5vw;
  }
  .main .text ul {
    font-size: 6vw;
  }
  .main .text ul span {
    font-size: 4vw;
  }
  .main .text ul li {
    width: 80vw;
  }
  .main .text li:hover {
    margin-left: 2vw;
  }
  .main .map_holder {
    width: 90vw;
    height: 90vw;
    margin: 5vw 5vw 5vw 5vw;
  }
}
@media (min-width: 401px) and (max-width: 1000px) {
  .main {
    width: 100vw;
    height: 80vw;
    margin: 0 0 0 0;
    -ms-grid-columns: 35vw 65vw;
    grid-template-columns: 35vw 65vw;
  }
  .main .text {
    width: 30vw;
    margin: 5vw 0 5vw 5vw;
  }
  .main .text .h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  .main .text ul {
    font-size: 2.4vw;
  }
  .main .text ul span {
    font-size: 2vw;
  }
  .main .text ul li {
    width: 20vw;
  }
  .main .text li:hover {
    margin-left: 2vw;
  }
  .main .map_holder {
    width: 60vw;
    height: 60vw;
    margin: 11vw 5vw 5vw 0;
  }
}