.project_block
{
    display: grid;
    background-color: white;
    width: 90vw;
    margin: 2vw 5vw 0 5vw;
    height: min-content;
    grid-template-rows: 5vw 20vw 5vw auto;
    div, figure, h1
    {
        width: 80vw;
        margin: 0 5vw 0 5vw;
    }
    .gif
    {
        background-image: url(../img/project.gif);
        height: 20vw;
        background-position: center center;
        background-size: 100%;
    }
    h1
    {
        text-align: center;
        font-size: 3vw;
        line-height: 5vw;
        font-weight: bold;
        grid-row: 3/4;
    }
    figcaption
    {
        margin: 0;
        text-align: center;
        font-size: 2.4vw;
        margin-bottom: 2vw;
    }
    img
    {
        background-size: 100%;
        width: 100%;
    }
    .text
    {
        font-size: 1.8vw;
        margin-bottom: 5vw;
    }
}

@media (max-width: 400px)
{
    .project_block
    {
        width: 100vw;
        margin: 0 0 0 0;
        grid-template-rows: 5vw 22.222vw auto;
        div, figure, h1
        {
            width: 90vw;
        }
        .gif
        {
            height: 22.222vw;
        }
        h1
        {
            font-size: 4vw;
        }
        figcaption
        {
            font-size: 4.8vw;
            margin-bottom: 3vw;
        }
        .text
        {
            font-size: 3.6vw;
        }
    }
}

@media (min-width: 401px) and (max-width: 1000px)
{
    .project_block
    {
        width: 100vw;
        margin: 0 0 0 0;
        grid-template-rows: 5vw 22.222vw auto;
        div, figure, h1
        {
            width: 90vw;
        }
        .gif
        {
            height: 22.222vw;
        }
        h1
        {
            font-size: 3.5vw;
        }
        figcaption
        {
            font-size: 3.2vw;
            margin-bottom: 3vw;
        }
        .text
        {
            font-size: 2.4vw;
        }
    }
}